App/build
App/Pods
App/output
App/App/public/*
!App/App/public/.gitkeep
DerivedData
xcuserdata

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

# Generated native web bundle
App/App/capacitor.config.json
App/App/config.xml
