<?xml version="1.0" encoding="utf-8"?>
<widget id="com.paradiseexteriors.shows" version="1.0.0"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Paradise Shows</name>
  <description>Paradise Exteriors event planning and show operations.</description>
  <author email="info@paradiseexteriors.com" href="https://www.paradiseexteriors.com/">Paradise Exteriors LLC</author>
  <content src="index.html" />
  <access origin="*" />
</widget>
